.App {
  text-align: center;
  width: 100%;
  min-height: 50%;
}

#maincanvas {
  left: 0;
  top: 0;
}

#searchresults {
  z-index: 999;
  background-color: aliceblue;
  position: absolute;
  left: 0in;
  top: 0in;
  margin: 0in;
  padding: 0.25in;
  width: 3in;
}

#colophon {
  background-color: #ffffffcc;
  z-index: 999;
  color: #333;
  position: absolute;
  left: 0in;
  bottom: 0in;
  margin: 0in;
  padding: 0.25in;
}

@font-face{
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(./roboto-slab.ttf) format('truetype');
}

body, div, label { font-family: 'Roboto Slab'; }
